$DARK_GREEN: #1d4511;
$WHITE: #fff;
$BLACK: #000;
$YELLOW: #ef0805;
$GOLD: rgba(250, 188, 33, 1);
$BG_GRAY: #eff4fb;
$BORDER_COLOR: #d8e1ef;
$TEXT_GRAY1: #9e9fc1;

$black: #000;
$yellow: #ecaa11;
$lightYellow: #fff5df;
$blue: #511cbe;
$darkBlue: #5e419a;
$white: #ffffff;
$darkWhite: #fcf9ff;
$gray: #fcf9ff;
$lightGray: #f0f0f0;
$darkGray: #eee4f8;
$darkGray2: #fcf9ff;
$textGray: #7b728d;
$red: #eb6c6d;
$lightRed: #ffeef4;
$shadowColor: #00000012;
